$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#fff;
$subMenuBg:#fff;
$menuHover:#001528;

//page_module
$p_module:#fff;

// step
$nav_step:#0747a6;

// navbar
$navbar:#0747a6;

// loading
$loading:rgba(0,0,0,0.50);
//table-header
$th_color:#F9F9F9;

$font-primary: #0747a6;

$border-left: #429EFD;
